	{% extends 'main.html' %}
	{% block content %}
    <div>
        <div class="card" style="width: 80%; display:flex; flex-direction:row; justify-content:space-around;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ userName }}</h5>
              <p>User Id: {{ userId }}</p>
              <p>User name: {{ userName }}</p>
              <p>First name: {{ firstName }}</p>
              <p>Last name: {{ lastName }}</p>
              <p>Phone: {{ phoneNumber }}</p>
              <p>Email: {{ email }}</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	      <!-- <a href="{{ url_for('book_slot') }}" class="btn btn-primary">Book Appointment</a> -->
            </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">provider_id</th>
                <th scope="col">provider_name</th>
                <th scope="col">provider_email</th>
            </tr>
        </thead>
        <tbody>
            {% for provider in providers %}
                <tr>
			<th scope="row">{{ provider.id }}</th>
			<td><a href="{{ url_for('view_slot', username=provider.username) }}">{{ provider.username }}</a></td>
                    <td>{{ provider.email }}</td>
                </tr>
            {% endfor %}
          </div>
    </div>
    {% endblock %}
