<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
</head>

<body>
    <h2>Users page</h2>

    <p>This page describe all the users</p>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">user_id</th>
                <th scope="col">user_name</th>
                <th scope="col">user_email</th>
                <th scope="col">created_at</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
			<th scope="row">{{ user.id }}</th>
			<td><a href="{{ url_for('user') }}">{{ user.username }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                </tr>
            {% endfor %}


        </tbody>
    </table>
</body>

</html>
