<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>

</head>
<body style="background-color:nevy-blue;">
    <div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ userName }}</h5>
              <p>User Id: {{ userId }}</p>
              <p>User name: {{ userName }}</p>
              <p>Company name: {{ providerNmae }}</p>
              <p>Address: {{ providerAddr }}</p>
              <p>Phone: {{ phoneNumber }}</p>
              <p>Email: {{ email }}</p>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
	      <a href="{{ url_for('appointment') }}" class="btn btn-primary">Appointments</a>
	      <a href="{{ url_for('createSlot') }}" class="btn btn-primary">Create Appointment slot</a>
            </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">client_id</th>
                <th scope="col">client_name</th>
                <th scope="col">client_email</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
                <tr>
			<th scope="row">{{ client.id }}</th>
			<td><a href="{{ url_for('user', username=client.username) }}">{{ client.username }}</a></td>
                    <td>{{ client.email }}</td>
                </tr>
            {% endfor %}
    <div style="text-align:right">
        <button type="button" class="btn btn-primary">
		<a style="color:white;" href="{{ url_for('create_service') }}">New service</a>
        </button>
    </div>
          </div>
    </div>
</body>
</html>
