
{% extends 'main.html' %}
{% block head %}
<p><i>Please fill in your details in the below form.</i></p>
{% endblock %}
{% block content %}
{% if error %}
<h4>{{ error }}. Please go back and try another username</h4>
{% else %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Sign Up</h3>
    <div class="box">
        <form method="POST" action="/provider_signup">
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Email" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="UserName" autofocus="">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="business-name" placeholder="Business Name">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="business-address" placeholder="Business Address">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="confirm-password" placeholder="Confirm Password">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="tel" name="phone-number" placeholder="Phone Number">
                </div>
            </div>

            <button class="button is-block is-info is-large is-fullwidth">Sign Up</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}

