
{% extends 'main.html' %}

{% block content %}
	<header stryle="display: flex;">
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/admin">Admin</a></li>
        <li><a href="/dashboard/users">Users</a></li>
        <li><a href="/dashboard/services">Services</a></li>
        <li><a href="/dashboard/appointments">Appointments</a></li>
    </ul>
	</header>
	<div id="main">
		<div class="alert alert-primry" role="alert">
			<p> No of users: {{ usersCount }}</p>
		</div>
		<div class="alert alert-primry" role="alert">
			<p> No of Providers: {{ providersCount }}</p>
		</div>
		<div class="alert alert-primry" role="alert">
			<p> No of Clients: {{ clientsCount }}</p>
		</div>
		<div class="alert alert-primry" role="alert">
			<p> No of Services: {{ servicesCount }}</p>
		</div>
		<div class="alert alert-primry" role="alert">
			<p> No of Appointments: {{ appointmentsCount }}</p>
		</div>
	</div>


{% endblock %}
